In [4]:
from google.colab import userdata
key = userdata.get('robogebra-key')
print(key)

123

In [ ]:
marks = [80,85,90,95,99,100]
mark_1, mark_2, *mark_3 = marks
print(mark_1)
print(marks[-2])

80
99

In [ ]:
mark_part_1 = marks[0:4]
mark_part_2 = marks[4:]
print(mark_part_1)

[80, 85, 90, 95]

In [ ]:
for mark in marks:
    print(mark)

80
85
90
95
99
100

In [ ]:
for i in range(len(marks)):
   print(marks[i])

80
85
90
95
99
100

In [ ]:
for i, mark in enumerate(marks):
   print(i,mark)

0 80
1 85
2 90
3 95
4 99
5 100

In [ ]:
a = int(len(marks)/2)
for i, mark in enumerate(marks[a:]):
   print(i, mark)

0 95
1 99
2 100

In [ ]:
simple_dic = {"name":"james", "age": 30, "Job": "Engineer"}
print(simple_dic["name"])

james

In [ ]:
for prop, value in simple_dic.items():
   print(prop,value)

name james
age 30
Job Engineer

In [ ]:
prop_names = ["name","age","job"]
prop_values = ["james",30,"Engineer"]

person = {}
for k,v in zip(prop_names,prop_values):
   person[k] = v

print(person)

{'name': 'james', 'age': 30, 'job': 'Engineer'}

In [ ]:
def show_detail(*values):
   for value in values:
     print(value)

In [ ]:
show_detail(10,20,30,40,50)

10
20
30
40
50

In [ ]:
def show_summary(a,b,c,d,e):
   print(a)
   print(b)
   print(c)
   print(d)
   print(e)

In [ ]:
show_summary(*[20,30,40,50,60])

20
30
40
50
60

In [10]:
def explain_details(*args, **kwarg):
    print(kwarg['name'])
    print(kwarg['age'])
    print(kwarg['gender'])

In [11]:
explain_details(2,3,4, name='a', gender='F', age=20)

a
20
F